/**
 * Basic color set
 */
$darkGray: #2f2f2f;


$white: #fff;
$black: #000;


$greenGradientLight: #b8d584;
$greenGradientDark: #6d9659;

$lightGrayGradientLight: $white;
$lightGrayGradientDark: #f2f2f2;

$blackGreen: #0e2601; 

$textGray: #808080;