<div class="userheader">

	<div class="band">
		<div class="title"><%= @current_band.bandname %></div>
	</div>

	<div class="user">
		<div class="title"><%= @current_user.contact.fullname %></div>
	</div>

</div>